.header__link {
  text-decoration: none;
  height: 22px;
  padding-top: 6px;
  font-size: 18px;
  line-height: 122%;
  color: #FFF;
  transition: opacity .2s;
}

.header__link:hover {
  opacity: .6;
}